# Configurações do Supabase
SUPABASE_URL="SUA_URL_SUPABASE"
SUPABASE_KEY="SUA_URL_KEY"

# Configurações do Bling v3
BLING_ACCESS_TOKEN="SEU_ACESS_TOKEN_BLING"
BLING_REFRESH_TOKEN="SEU_REFRESH_TOKEN_BLING"
BLING_CLIENT_ID="SEU_CLIENT_ID_BLING"
BLING_CLIENT_SECRET="SEU_CLIENT_SECRET_BLING"
